.main-page {
  max-width: 50%;
  margin-left: auto;

  &__title {
    margin-bottom: calc-rem(20px);
    font-size: calc-rem(48px);
  }

  &__description {
    width: 50%;
    margin-bottom: calc-rem(15px);
    font-size: calc-rem(18px);
  }
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}