*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 375px;
  margin: 0;
  background-color: #00C2FF;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  cursor: default;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh));
}

.page {
  flex-grow: 1;
  padding-top: calc-rem(36px);
  padding-bottom: calc-rem(64px);
}