// Sizes
$mwContent: 1680px;
$gContent: 46px;

// Font
$baseRem: 16px;

// Colors
$cWhite: #FFF;
$cBlack: #222;
$cCorrect: #5bc538;
$cPassed:#00940D;
$cIncorrect: #FD364E;
$cBody: #d3d3d3;
$cPearlLightGray: #9C9C9C;
$cSkyBlue: #f0ffff;
$cWetAsphalt: #4F4F4F;
$cLightTelegray: #d1d1d1;
$cBlue: #49a9db;
$cLightGray: #b5bbc2;
$cYellowGreen: #a6cc2b;
$cTurquoiseBlue: #67defd;
$cMoccasin: #FFE4B5;
$cProtectiveBlue: #2998ff;
$cAmethyst: #9b59b6;
$cLemonCream: #fff8c4;
$cZincYellow: #ffed2d;
$cCitric: #ffde0e;
$cCanary: #fff696;
$cDahliaYellow: #ffce06;